# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

*.dsYM
linenoise
ex8/ex8
ex9/ex9
ex9/ex9.broken
ex10/ex10
ex11/ex11
ex12/ex12
